.venv/
notebooks/data
uv.lock
data/
.python-version
__pycache__
.vscode
.conda/
__pycache__/
results/cluster/*/models/
results/cluster/*/quantized_models/
results/cluster/*/deployed_models/
results/local/*/models/
results/local/*/quantized_models/
results/local/*/deployed_models/
# results/*/backup_quantized_models/
results/*/backup_deployed_models/